<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
    <!-- 獨自指定自定義部分，使用自定義類來訪問 -->
    <section name="server.serversection"
             type="ServerConfSection.ServerSection,ServerConfSection"
             restartOnExternalChanges="false"/>
  </configSections>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>

  <appSettings>
    <!-- *** 日誌文件輸入路徑 *** -->
    <add key="InputPath" value="C:\work\developer\Cigna-1024Log\CC-SV"/>
    <!-- *** 日誌文件前綴 *** -->
    <add key="InputFilePrefix" value="cc"/>
    <!-- *** 計劃任務執行間隔(單位:分) *** -->
    <add key="TaskExecuteInterval" value="30"/>
    <!-- *** 日誌文件中指定內容出現間隔(單位:分) *** -->
    <add key="SpecifiedContentInterval" value="10"/>
    <!-- *** 讀入日誌文件間隔(以日誌文件最終寫入時間為基準 單位:時) *** -->
    <add key="FileWriteInterval" value="2"/>
    <!-- *** 后台服務啟動失敗時再啟動間隔(單位:分) *** -->
    <add key="ErrServiceResInterval" value="1"/>
    <!-- *** 后台服務啟動失敗時再啟動次數 *** -->
    <add key="ErrServiceResFrequency" value="2"/>
    <!-- *** 程序啟動區分  本地：localhost 服務器：server*** -->
    <add key="ProgramStartupType" value="localhost"/>
  </appSettings>

  <!-- 服務器自定義部分 -->
  <server.serversection>
    <serverelements>
      <!-- *** 服務器1 : 服務器地址 接續用戶名 接續密碼 服務名 服務重啟間隔(單位:秒)*** -->
      <addServer serverNm="serverNm1" serverAddress="\\10.2.3.178" user="administrator" password="HCI1031ami" serviceNm="testService,testService2,testService2X,testService3,testService4" serviceInterval="10"/>
      <!-- *** 服務器2 : 服務器地址 接續用戶名 接續密碼 服務名 服務重啟間隔(單位:秒)*** -->
      <!-- <addServer serverNm="serverNm2" serverAddress="\\10.2.2.117" user="administrator" password="HCI1031ami" serviceNm="testServiceA,testServiceA2,testServiceA3" serviceInterval="10"/>--> 
    </serverelements>
  </server.serversection>

</configuration>